@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Bebas Neue', cursive;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(30, 30, 30);
  color: white;
}

.countdown {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.countdown__title {
  font-size: 6rem;
  align-self: center;
  font-weight: 400;
}

.countdown__time {
  display: flex;
  gap: 3rem;
  align-self: center;
}

.countdown__element {
  height: 16rem;
  width: 16rem;
  background-color: white;
  color: black;
  border: 10px solid rgb(39, 39, 39);
  position: relative;
}

.countdown__element-name {
  transform-origin: bottom left;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2.5rem;
  transform: rotateZ(-90deg) translateY(100%);
  padding-left: 5px;
  color: rgb(129, 129, 129);
}

.countdown__element-value {
  font-size: 8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: rgb(222, 44, 92);
}
